[user]
	email = rossjrw@gmail.com
	name = Ross Williams
	signingkey = DBCA0670CCBC5A81
[core]
	autocrlf = input
	eol = lf
[credential "https://github.com"]
	username = rossjrw
	helper = "!f() { test $1 = get && echo password=`pass GitHub`; }; f"
[credential "https://gist.github.com"]
	username = rossjrw
	helper = "!f() { test $1 = get && echo password=`pass GitHub`; }; f"
[commit]
	gpgsign = true
[gpg]
	program = gpg
[alias]
	lg = log --all --color --graph --pretty=format:'  %C("#ffcc66")%h%Creset%Creset %C("#cc99cc")·%Creset %C("#99cc99")%cr%Creset by %C("#6699cc")%aN%Creset %C("#cc99cc")·%Creset %s%C("#f99157")%d' --abbrev-commit --invert-grep --grep='Deploying to gh-pages'
[rebase]
	autosquash = true
